# copy the contents of this file to .env and replace the values with your own
# do NOT commit .env to git
NEXT_PUBLIC_SUPABASE_URL=your-project-url
NEXT_PUBLIC_SUPABASE_ANON_KEY=your-anon-key
SUPABASE_SERVICE_KEY=your-service-key

NEXT_PUBLIC_PUBLIC_SITE_URL=http://localhost:3000
NEXT_PUBLIC_ADMIN_SITE_URL=http://localhost:3001

# Required for the tooblar & feature flags
EDGE_CONFIG=
VERCEL_ENV="development"
FLAGS_SECRET=

# the hashed password required to login to the admin site
# use password123 for development password
ADMIN_ENCRYPTION_KEY="S8euntamhDT1NQM7B3hYTSO9JwaZLK0SOSfwUr2ModQ="
ADMIN_PASSWORD_HASH=\$2a\$10\$kFh8hxekFUmmFPipBRQzyO3tI2eHp8WEINikcqEuPhT0FSm75Rby2