@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --foreground: 0 0% 19%;
    --background: 120 10% 96%;
    --primary: 42 62% 37%;
    --secondary: 0 0% 60%;
    --accent: 41 50% 31%;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground: 0 0% 81%;
    --background: 120 10% 4%;
    --primary: 42 62% 63%;
    --secondary: 0 0% 40%;
    --accent: 41 50% 69%;
  }
}


@layer base {
  * {
    @apply border-foreground/20;
  }
}

.animate-in {
  animation: animateIn 0.3s ease 0.15s both;
}

@keyframes animateIn {
  from {
    opacity: 0;
    transform: translateY(10px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}